<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% block navbar %}
     <nav class="purple">
      <div class="nav-wrapper">
        <span id="nav-title" class="brand-logo center">Student Conduct Tracker</span>
        <ul id="nav-mobile" class="left">
          <li>
            <a href="/profile" class="nav-button" class="brand-logo left">
              <i class="fa fa-house"></i>
              Logged in As: {{ staff.prefix }} {{ staff.firstname }} {{ staff.lastname }}
            </a>
          </li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li><a href="/logout" class="nav-button">Logout</a></li>
        </ul>
      </div>
     </nav>    
    {% endblock %}

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      M.AutoInit();
       {% with messages = get_flashed_messages() %}
         {% if messages %}
             {% for message in messages %}
             M.toast({html: '{{message}}'})
             {% endfor %}
         {% endif %}
       {% endwith %}

        function closePopup() {
        window.location.hash = '';
        }

        function filterReviews(rating) {
        const reviews = document.querySelectorAll('#all-review-cards');

          reviews.forEach(review => {
            const reviewRating = parseInt(review.getAttribute('data-rating'), 10);

            if (rating === 0 || reviewRating === rating) {
                review.style.display = 'block';
            } else {
                review.style.display = 'none';
            }
          });
        }
   </script>
  </body>
</html>