{% extends "layout.html" %}

{% block title %}{{ staff.firstname }} {{ staff.lastname }} | Staff{% endblock %}
{% block page %}{{ staff.firstname }} {{ staff.lastname }} | Staff{% endblock %}

{{ super() }}

{% block content %}
<!-- Pop-Up Modal Content -->
<div id="add_student" class="overlay">
  <div class="popup">
    <span class="popup-title">Add Student</span>
    <div class="content">
      <form action="/add_student" method="POST">
        <div class="popup-content">
          <input class="popup-content-input" type="number" value="816031000" name="student_id" placeholder="Student ID" required >
        </div>

        <div class="popup-content">
          <input class="popup-content-input" type="text" value="Rick" name="firstname" placeholder="First Name" required >
        </div>

        <div class="popup-content">
          <input class="popup-content-input" type="text" value="Rickson" name="lastname" placeholder="Last Name" required >
        </div>

        <div class="popup-content">
          <input class="popup-content-input" type="email" value="rick.rickson@mail.com" name="email" placeholder="Email" required>
        </div>

        <div class="popup-action">
          <a href="#" class="btn waves-effect waves-light custom-radius" onclick=closePopup()>Cancel</a>
          <button type="submit" class="btn waves-effect waves-light custom-radius">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if staff.is_admin == True %}
<div id="create_staff" class="overlay">
  <div id="create-staff-popup" class="popup">
    <span class="popup-title">Create Staff Account</span>
    <div class="content">
      <form action="/create_staff" method="POST">
        <div class="popup-content">
          <input class="popup-content-input" type="text" value="Mrs." name="prefix" placeholder="Prefix" required >
        </div>

        <div class="popup-content">
          <input class="popup-content-input" type="text" value="Bubble" name="firstname" placeholder="First Name" required >
        </div>

        <div class="popup-content">
          <input class="popup-content-input" type="text" value="Bub" name="lastname" placeholder="Last Name" required >
        </div>

        <div class="popup-content">
          <input class="popup-content-input" type="email" value="bubble.bub@mail.com" name="email" placeholder="Email" required >
        </div>

        <div class="popup-content">
          <input class="popup-content-input" type="password" name="password" placeholder="Password" required >
        </div>

        <div class="admin-content ">
          <label class="admin-label">
            <input type="checkbox" id="is_admin" name="is_admin">
            <span>Admin?</span>
          </label>
        </div>

        <div class="popup-action">
          <button type="button" class="btn waves-effect waves-light custom-radius" onclick=closePopup()>Cancel</button>
          <button type="submit" class="btn waves-effect waves-light custom-radius">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

<div id="search" class="overlay">
  <div class="popup">
    <span class="popup-title">Search Student</span>
    <div class="content">
      <form action="/student_record" method="GET">
        <input class="popup-content-input" type="number" id="student-id" name="student_id" placeholder="Student ID - e.g. 816031000" required>
        <div class="popup-action">
            <button type="button" class="btn waves-effect waves-light custom-radius" onclick=closePopup()>Cancel</button>
            <button type="submit" class="btn waves-effect waves-light custom-radius">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End of Pop-Up Modal Content -->

<!-- Profile Information -->
<div class="container">
    <div class="row flex-row">
        <!-- Left Side: Reviews Count -->
        <div class="col s4">
            <div class="card" id="left-flex">
                <div class="card-content center-align">
                    <span class="card-title">Students Reviewed</span>
                    <p>{{students_reviewed}}</p>
                </div>
            </div>
            <div id="staff-reviews">
              <a href="/view_staff_reviews">See All Reviews</a>
          </div>
        </div>

        <!-- Middle: Profile Picture and Full Name -->
        <div class="col s4 center-align">
            <img id="profile-pic" src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile pic" class="circle responsive-img">
            <h5 id="profile-label">{{ staff.prefix }} {{ staff.firstname }} {{ staff.lastname }}</h5>
            {% if staff.is_admin == True %}
              <span>Admin</span>
            {% endif %}
        </div>

        <!-- Right Side: Buttons -->
        <div class="col s4" id="right-flex">
          <a class="btn waves-effect waves-light custom-style" href="#add_student">Add Student</a>
          <a class="btn waves-effect waves-light custom-style" href="#search">Search Student</a>
          {% if staff.is_admin == True %}
            <a class="btn waves-effect waves-light custom-radius" href="#create_staff">Create Staff</a>
          {% endif %}
      </div>
      
    </div>
</div>

<hr>

<!-- Latest Reviews -->
<div id="latest-reviews" class="container">
  <h5 class="center-align">Latest Reviews</h5>

<!-- Cards for Latest Reviews -->
<div class="reviews-container">
    {% for review in staff_reviews|reverse %}
      {% if loop.index <= 10 %}
        <div id="review-cards">
          <div class="card" id="review-card">
            <div class="card-content">
              <span class="card-title">
                <b>{{ review.reviewee.firstname }} {{ review.reviewee.lastname }}</b> - {{ review.student_id }}
              </span>
              <hr>
              <p>{{ review.text.split()[:15] | join(' ') }}{% if review.text.split() | length > 15 %}...{% endif %}</p>  <!-- Limit to 15 words -->
              <span>Rating:
                {% for i in range(5) %}
                  {% if i < review.rating %}
                    <i class="fas fa-star"></i>
                  {% else %}
                    <i class="far fa-star"></i>
                  {% endif %}
                {% endfor %}
              </span>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
